@model TouristRouteCatalog.Core.Proxy.RouteProxy

@{
    ViewBag.Title = "Create";
}

<script src="/Scripts/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="/Scripts/map.js"></script>
<h2>Добавяне на маршрут</h2>

<div id="map" style="width:700px; height: 500px;"></div>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        @*<legend>RouteProxy</legend>*@
        <div class="editor-label">
            @Html.LabelFor(model => model.CreatorId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreatorId)
            @Html.ValidationMessageFor(model => model.CreatorId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DifficultyLevel)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DifficultyLevel)
            @Html.ValidationMessageFor(model => model.DifficultyLevel)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Duration)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Duration)
            @Html.ValidationMessageFor(model => model.Duration)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Seasons)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Seasons)
            @Html.ValidationMessageFor(model => model.Seasons)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PublicTransport)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PublicTransport)
            @Html.ValidationMessageFor(model => model.PublicTransport)
        </div>

        <p>
            <input type="submit" value="Запази" />
        </p>
    </fieldset>
    @Html.HiddenFor(model => model.SerializedGeoPoints, new { id = "pointsContainer" })
}

<div>
    @Html.ActionLink("Към всички маршрути", "Index")
</div>
