@model List<TouristRouteCatalog.Core.Proxy.RouteProxy>
@{
    ViewBag.Title = "Index";

}

<div class="row" style="max-height:200px; overflow:hidden; background-position: 50% 50%; padding:0;">
    @if(Model.Count > 0){
    <div class="col-md-4" style="max-height:200px; overflow:hidden; background-position: 50% 50%; padding:2px;">
        <a href="/Route/Details/@Model[0].Id">
            <img class="thumbnail-image" src="@Model[0].DefaultImage.ImageLocation" />
            <div class="image-title">
                @Model[0].Name
            </div>
        </a>
    </div>
    }
    @if(Model.Count > 1){
    <div class="col-md-4" style="max-height:200px; overflow:hidden; background-position: 50% 50%; padding:2px;">
        <a href="/Route/Details/@Model[1].Id">
            <img class="thumbnail-image" src="@Model[1].DefaultImage.ImageLocation" />
            <div class="image-title">
                @Model[1].Name
            </div>
        </a>
    </div>
    }
    @if(Model.Count > 2){
    <div class="col-md-4" style="max-height:200px; overflow:hidden; background-position: 50% 50%; padding:2px;">
        <a href="/Route/Details/@Model[2].Id">
            <img class="thumbnail-image" src="@Model[2].DefaultImage.ImageLocation" />
            <div class="image-title">
                @Model[2].Name
            </div>
        </a>
    </div>
    }
</div>

<div class="row" style="max-height:200px; overflow:hidden; background-position: 50% 50%; padding:0;">
    @if(Model.Count > 3){
    <div class="col-md-6" style="max-height:200px; overflow:hidden; background-position: 50% 50%; padding:2px;">
        <a href="/Route/Details/@Model[3].Id">
            <img class="thumbnail-image" src="@Model[3].DefaultImage.ImageLocation" />
            <div class="image-title">
                @Model[3].Name
            </div>
        </a>
    </div>
    }
    @if(Model.Count > 4){
    <div class="col-md-6" style="max-height:200px; overflow:hidden; background-position: 50% 50%; padding:2px;">
        <a href="/Route/Details/@Model[4].Id">
            <img class="thumbnail-image" src="@Model[4].DefaultImage.ImageLocation" />
            <div class="image-title">
                @Model[4].Name
            </div>
        </a>
    </div>
    }
</div>

<div class="row" style="max-height:200px; overflow:hidden; background-position: 50% 50%; padding:0;">
    @if(Model.Count > 5){
    <div class="col-md-4" style="max-height:200px; overflow:hidden; background-position: 50% 50%; padding:2px;">
        <a href="/Route/Details/@Model[5].Id">
            <img class="thumbnail-image" src="@Model[5].DefaultImage.ImageLocation" />
            <div class="image-title">
                @Model[5].Name
            </div>
        </a>
    </div>
    }
    @if(Model.Count > 6){
    <div class="col-md-4" style="max-height:200px; overflow:hidden; background-position: 50% 50%; padding:2px;">
        <a href="/Route/Details/@Model[6].Id">
            <img class="thumbnail-image" src="@Model[6].DefaultImage.ImageLocation" />
            <div class="image-title">
                @Model[6].Name
            </div>
        </a>
    </div>
    }
    @if(Model.Count > 7){
    <div class="col-md-4" style="max-height:200px; overflow:hidden; background-position: 50% 50%; padding:2px;">
        <a href="/Route/Details/@Model[7].Id">
            <img class="thumbnail-image" src="@Model[7].DefaultImage.ImageLocation" />
            <div class="image-title">
                @Model[7].Name
            </div>
        </a>
    </div>
    }
</div>

<p></p>
<p></p>
<p></p>
<p></p>

<h3>Всички Маршрути</h3>
@using (Html.BeginForm("Index", "Route", FormMethod.Get, new { id = "searchForm" }))
{
    <label>Text:</label>
    @Html.TextBox("search")
    <label>Latitude:</label>
    @Html.TextBox("lat")
    <label>Longitude:</label>
    @Html.TextBox("lng")
    <input type="submit" value="Search" />
    <input type="button" value="Clear" onclick="clearForm()" />
    <input type="button" value="Get current position" onclick="getCurrentPosition()" />
}
<table class="table" id="routesTable">
    <thead>
        <tr>
            <th>Маршрут</th>
            <th>Описание</th>
            <th>Опции</th>
        </tr>
    </thead>
    @foreach (var r in Model)
    {
        <tr>
            <td>@Html.ActionLink(r.Name, "Details", new { controller = "Route", action = "Details", id = r.Id })</td>
            <td>@r.Description</td>
            <td><input type="button" class="delete-button" data-route-id="@r.Id" data-route-name="@r.Name" value="Изтрии" /></td>
        </tr>
    }
</table>

@Html.ActionLink("Create Route", "Create");

<div id="dialog-confirm" title="Изтриване на маршрут?">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>These items will be permanently deleted and cannot be recovered. Are you sure?</p>
</div>

@section scripts
{
    <script type="text/javascript">

        function clearForm() {
            var box = $("[name=search]");
            var box2 = $("[name=lat]");
            var box3 = $("[name=lng]");
            box.val("");
            box2.val("");
            box3.val("");
            $("#searchForm").submit();
        }

        function getCurrentPosition() {
            navigator.geolocation.getCurrentPosition(GetLocationFilter);
        }

        function GetLocationFilter(location) {
            var lat = $("[name=lat]");
            var lng = $("[name=lng]");
            console.info(location);
            lat.val(location.coords.latitude);
            lng.val(location.coords.longitude);
            $("#searchForm").submit();
        }
        $(function () {
            var $routesTable = $("#routesTable"),
                $deleteButtons = $(".delete-button"),
                $dialog = $("#dialog-confirm"),
                $diaglogText = $("#dialog-confirm > p");

            $routesTable.DataTable({
                bLengthChange: false,
                bFilter: false,
                aoColumns: [null, { "bSearchable": false, "bSortable": false }, null]
            });

            $deleteButtons.click(function (evt, ui) {
                var $this = $(this);
                $diaglogText.text("Сигурни ли сте, че искате да изтриете маршрут \"" + $(this).data("route-name") + "\"?");
                $dialog.data("route-id", $this.data("route-id"));
                $dialog.dialog("open");
            });

            $dialog.dialog({
                resizable: false,
                height: 240,
                modal: true,
                autoOpen: false,
                buttons: {
                    "Изтриване": function () {
                        document.location.href = '/Route/Delete?id=' + $(this).data("route-id");
                        $(this).dialog("close");
                    },
                    "Отказ": function () {
                        $(this).dialog("close");
                    }
                }
            });
        });
    </script>
}
