@model TouristRouteCatalog.Core.Proxy.RouteImageProxy
@{
    ViewBag.Title = "Add";
}

<h2>Добави снимка към маршрут</h2>

<div id="form">
@using (Html.BeginForm("Add", "RouteImage", "Post"))
{
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

    @Html.HiddenFor(item => item.RouteId)
    <div class="editor-label">
        @Html.LabelFor(model => model.Name)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Description)
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.Description)
        @Html.ValidationMessageFor(model => model.Description)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.ImageLocation)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.ImageLocation)
        @Html.ValidationMessageFor(model => model.ImageLocation)
    </div>
                <input type="button" value="Запази" onclick="SubmitForm();" />
}
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



<script>
    function SubmitForm() {
        var url = $("#ImageLocation").val().toLowerCase();
        if (url.match("^http://") == null) {
            alert("Въведеният адрес не е валиден линк!");
            return false;
        }
        if (url.match(".jpg$") == null && url.match(".png$") == null && url.match(".gif$") == null) {
            alert("Позволените файлови разширения са: jpg, png, gif!");
            return false;
        }
        $("#form form").submit();   
    }
</script>
